body {
background-color : #263238;
font-size : 15px;
font-family : Times;
background-attachment : fixed;
max-width : 600px;
margin : auto;
}
h1 {
    text-align: center;
    font-family: sans-serif;
    font-weight: 300;
    color: green;
}
div {
background-color : #fff;
margin : 1px;
padding : 2px;
}
.header {
color : #fff;
padding:5px;
font-weight:height;
font-size: 24px;
background-color : #2196f3;
background-repeat : no-repeat;
background-position : right 50%;
text-align:center;
}
.line {
background-repeat : repeat-x;
background-position : 50% top;
border : 1px solid #ececec;
padding:3px;
text-align:center;
font-family: cursive;
font-size: 24px;
}
#celebrate-img {
    border: 14px dashed #fff;
    width: 292px;
    height: 164px;
    margin: 0 auto;
    overflow: hidden;
    background: url(img/drop.png) center center no-repeat #fff;
    position: relative;
    transition: .2s;
    -webkit-transition: .2s;
}

#celebrate-img.dragging,
#celebrate-img:hover {
    border-color: #2196f3;
    cursor: pointer;
}

#celebrate-img.generator {
    border-color: #fff;
    border: 0 none;
    width: 520px;
    height: 192px;
    background: url(data:image/gif;base64,R0lGODlhCgAKAIAAAAAAAP///yH5BAEAAAAALAAAAAAKAAoAAAIRhB2ZhxoM3GMSykqd1VltzxQAOw==) repeat scroll #ddd;
}

#celebrate-img.generator:after {
    content: url(img/download.png);
    position: absolute;
    right: 5px;
    bottom: 5px;
    -webkit-animation: down 1.2s cubic-bezier(0, 0.79, 0.39, 0.35) infinite;
    animation: down 1.2s cubic-bezier(0, 0.79, 0.39, 0.35) infinite;
}

#celebrate-img > div {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 35px;
    margin: auto;
    text-align: center;
    color: #464646;
}

#celebrate-img.dragging > div,
#celebrate-img:hover > div {
    color: #2196f3;
}

#celebrate-file {
    display: none;
}

.wrap-btn {
    width: 318px;
    display: block;
    height: 40px;
    margin: 10px auto;
    border: 1px solid #ccc;
    position: relative;
    background: #fff;
}

.large-btn {
    width: 250px;
    position: absolute;
    left: 0;
    top: 0;
    height: 36px;
    border: 0 none;
    background: transparent;
    padding: 2px 7px;
}

.small-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 40px;
    border: 0;
    background: url(img/enter.png) no-repeat center center transparent;
    text-indent: -99999px;
    cursor: pointer;
}

#celebrate-complete {
    border: 0 none;
    display: none;
    width: 320px;
}

#celebrate-reset {
    left: 0;
    right: auto;
    background-image: url(img/reset.png);
    background-color: #3a3a3a;
}

#celebrate-download {
    display: block;
    padding: 0px;
    left: auto;
    right: 0px;
    width: 260px;
    height: 40px;
    background: #3a3a3a;
    cursor: pointer;
}

#celebrate-get {
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    text-align: center;
    line-height: 40px;
    color: #FFF;
    font-family: monospace;
    font-size: 16px;
    font-weight: bold;
}

#celebrate-progress {
    display: block;
    height: 100%;
    background: #2196F3 none repeat scroll 0% 0%;
    width: 0;
}

#celebrate-result {
    width: 246px;
    background: #fff;
    color: #2196F3;
    display: none;
}
.footer {
    background-position: center bottom;
    background-repeat: repeat-x;
    border-bottom-color: #1D1F21;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #1D1F21;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #1D1F21;
    border-right-style: solid;
    border-right-width: 1px;
    background: #1D1F21;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #1D1F21;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #1D1F21;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #1D1F21;
    border-top-style: solid;
    border-top-width: 1px;
    color: white;
    font-size: small;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;
    padding-bottom: 1px;
    padding-top: 2px;
    text-shadow: -1px 0px 4px transparent;
    text-align: center;
    padding: 20px;
    width: 500;
}

@-webkit-keyframes down {
    from {
        transform: scale(.3);
    }
    to {
        transform: scale(1);
    }
}

@keyframes down {
    from {
        transform: scale(.1);
    }
    to {
        transform: scale(1);
    }
}